on:
  push:
    branches:
      - 'main'

  pull_request:
    branches:
      - 'main'

jobs:
  deploy:
    runs-on: ubuntu-24.04
    if: github.event_name == 'push'

    steps:
      # 1. Make sure to the runner's content matches the local content
      - name: Match runner's content with the local
        uses: actions/checkout@v5

      # 2. Install Java in runner's environment
      - name: Install Java
        uses: actions/setup-java@v5
        with:
          java-version: '25'
          distribution: 'temurin'

      # DEBUG
      - name: Check file contents
        run: ls -aq

      - name: Check gradlew file
        run: cat ./gradlew

      # 3. Build JAR file
      - name: Build JAR file
        run: |
          chmod +x ./gradlew
          ./gradlew bootJar

      # 4. Deploy to VPS
      - name: Deploy to VPS
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          IP_ADDRESS: ${{ secrets.IP_ADDRESS }}
        run: |
          echo "$SSH_PRIVATE_KEY" > ssh-key-storage
          chmod 600 ssh-key-storage
          scp -i ssh-key-storage -o StrictHostKeyChecking=no build/libs/*.jar root@$IP_ADDRESS:/home/app
          rm -rf ssh-key-storage*